@import 'detailCollapsibleElement';

.flip {
  transform: rotate(-180deg);
}

div.collapse {
  width: 100%;
  background: white;
  min-height: 100px;
  margin-bottom: 40px;

  .collapse-header {
      @include apply-flex(column, center, false);

      height: 100px;
      cursor: pointer;

      .row-detail{
        @include apply-flex(row, center, false);
        @include desktop-media-query{
          flex:none;
        }
        
        width: 100%;
        flex:9;
        
        > img {
          margin: 0 30px;
          @include img-anim;
          
        }
        > .collapse-title {
          flex:9;
          > .optional-feature {
            @include font(24px, 38px, $light-blue, 700, 'Roboto Slab');
          }
          > .opt {
            @include font(12px, 38px, $dark-blue, 400, 'Roboto Slab');
          }
        }
      }

      .exclusive {
        flex:1;
        width:100%;
        text-align: center;
        align-self: flex-end;
        background-color:#E82E34;
        @include font(12px, 14px, white, 400, 'Roboto', true);
        @include desktop-media-query{
          width: auto;
          padding:5px;
          flex:none;
        }
      }
  }
  > .collapse-content {
    padding: 0 18px;
    background-color: white;
    @include collapse-style;
  }
}


